@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --paragraph: 'Roboto Slab', serif;
}
* {
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.home {
    overflow-y: hidden;
    overflow-x: hidden;
}
.content {
    max-width: 1400px;
    height: 100vh;
    position: relative;
    overflow-y:hidden;
    margin: auto;
    padding: 0 20px;
   

    
}
body {

    background: linear-gradient(0deg, rgba(56,38,79,1) 0%, rgba(0,1,19,1) 100%);

}
i {
    color: #9E7F43;
    font-size: 30px; 
    display: none !important;
}
.main {
    margin-top: 60px;
}
h2 {
    font-family: var(--paragraph);
    color: #9E7F43;
    text-align: center;  
}
h3 {
    font-family: var(--paragraph);
    color: #9E7F43;
    text-align: center;
}
.background {
    width: 100%;
    height: 100vh;
    background: rgb(56,38,79);
    background: linear-gradient(0deg, rgba(56,38,79,1) 0%, rgba(0,1,19,1) 100%);
    /* background: linear-gradient(0deg, rgb(233, 167, 26) 0%, rgb(255, 94, 0) 100%); */
    /* background-image: url("/img/2824105.png"); */
    background-size: cover;
    overflow-y: hidden;
}
.backgroundPages {

    min-height: 100vh;
}
.contentPages {
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 50px;
    background-color: white;
}
#container{
    height : 100% ;
    width : 100% ;
    
    overflow-y : hidden ;
    position: absolute;
    animation-name: move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier();
    overflow-x: hidden;
    margin: auto;
}
.a_star{
transition-duration : .5s ;

}

@keyframes move {
    0% {top:0px;}
    50%{top:50px;}
    100%{top:0px}
    
}

@keyframes princemove {
    0%{transform: translateY(0px);}
    50%{transform: translateY(40px);}
    100%{transform: translateY(0px);}
}


/* #cursor{
    position : absolute ;
    height : 200px ;
    width : 200px ;
    border-radius : 50% ;
    -moz-backdrop-filter : brightness(500%) ;
    -webkit-backdrop-filter : brightness(500%) ;
    backdrop-filter : brightness(500%) ;
  } */


nav {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;

}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    align-items: end;
}
ul li {
    color: #9E7F43;
    display: block;
    font-family: var(--paragraph);
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    align-items: center;
    padding: 20px;

    
}
ul li:hover {
    border-bottom: 7px solid #9E7F43;
    cursor: pointer;
    
}
p {
    font-family: var(--paragraph);
    color: #9E7F43;
}

.logo {
    font-family: 'Pacifico', cursive;
    background: #9E7F43;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: left;
  
    
}
.prince {
    position: absolute;
    right: 0px;
    bottom: -5px;
    animation: princemove;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;
     
}

.prince img {
    width: 100vh;
}
.quote {
    position: absolute;
    left: 20px;
    top: calc(100vh/3);
}
.quote p {
    font-size: 50px;
    width: 600px;
    
}
.quote button {
    padding: 10px;
    font-family: var(--paragraph);
    color: white;
    background-color: #9E7F43;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.hero {
    position: relative;
}
.hero img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-top: 70px;
    
}
.artBanner {
    object-position: 0px -7px;
}
.hero h1 {
    position: absolute;
    top: 100px;
    left: 50px;
    font-family: var(--paragraph);

    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 70px;
    
}
footer {
    color: white;
    font-family: var(--paragraph);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #f3000000;
}

*::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.404);
    border-radius: 10px;
  }




/* ------------------------------ Characthers ------------------------------ */
.characterContainer {
    display: flex;
    max-width: 1600px;
    height: 300px;
    flex-direction: row;
    gap: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.characterContainer div {
    width: fit-content;

}
.characterContainer div:hover {
    transform: scale(1.05);

}
.characterContainer div img {
    width: 245px;
}
.characterInfo {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    margin: 100px auto;
    width: 1000px;
    background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000");
    padding: 30px;
    border-radius: 20px;

}
.characterInfo h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    color: rgb(56,38,79);
    font-size: 40px;
}
.characterInfo img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 400px;
    height:600px;
    object-fit: cover;
}
.characterInfo p {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 500px;
    font-size: 25px;
}



/*------------------------ Quotes -------------------------------- */
.quotesContainer {
    margin: 0 auto;

    max-width: 800px;
    justify-content: center;
}
.quotesContainer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.quotesContainer div p {
    font-size: 30px;
}

.quotesContainer img {
    border-radius: 999px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/*---------------------------- Art ------------------------------ */


.container {

    margin: 5% auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;

  }
  
  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .text-center {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .lightbox-gallery {

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .lightbox-gallery div > img {
    max-width: 100%;
    display: block;
  }
  
  .lightbox-gallery div {
    margin: 10px;
    flex-basis: 180px;
  }
  

/* ---------------------Book--------------------------------*/
.book {
    display: flex;
    flex-direction: row;
    gap: 40px;

    max-width: 900px;
    margin: 0 auto;
    
}

.book button { 
    background-color: #9E7F43;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-size: 18px;

}
  
  /*Lighbox CSS*/
  
  .lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
  }
  
  .lightbox img {
    display: block;
    margin: auto;
  }
  
  .lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #eee;
  }
  
  .github-link {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .github-link:hover,
  .github-link:active,
  .github-link:visited {
    color: #fff;
    text-decoration: none;
  }
  

@media screen and (max-width:614px) {
    .prince img {
        width: 500px;
    }
    .logo {
        font-size: 25px;
    }
    .nav {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    nav ul {
        display: none;
        flex-direction: column;
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .quote p {
        width: 100%;
        font-size: 30px;
    }
    .quote {
       position: relative;
       top: 100px;
    }
    .characterInfo {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        width: auto;

    }
    .characterInfo h2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .characterInfo img {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        height: 300px;

    }
    .characterInfo p {
        grid-column: 1/2;
        grid-row: 3/4;
        width: auto;
    }
    .quotesContainer img {
        border-radius: 999px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .quotesContainer div p {
        font-size: 15px;
    }
    .lightbox-gallery {
        flex-direction: column;
        align-items: center;
      }
    
      .lightbox > div {
        margin-bottom: 10px;
      }
    .columns {
        grid-template-columns: 1fr 1fr;
    }
    i {
        display: block !important;
        color: #9E7F43;
        font-size: 30px;
        text-align: right;
    }
    ul {
        width: 100%;
        text-align: end;
    }
    .book {
        flex-direction: column;
    }
    .hero h1 {
        font-size: 40px;
    }
    .hero img {
        height: 150px;
    }
    .characterContainer {
        height: 200px;
    }
    .characterContainer div img {
        width: 150px;
    }

}

