@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --paragraph: 'Roboto Slab', serif;
}
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}
a {
    text-decoration: none;
}
.home {

    overflow-x: hidden;
}
#menuSmall {
    display: none;
}
.content {
    max-width: 1400px;
    height: 100%;
    position: relative;
    overflow-y:hidden;
    margin: auto;
    padding: 0 20px;
    top: -550px;
   

    
}
.para {
    font-size: 20px;
    color: #353535;
    line-height: 40px;
}
.spaceSection {
    margin-top: 200px;
}
.title {
    font-size: 60px;
    text-align: left;

}
.space {
    margin-top: 50px;
}
.tvshow {
    padding-top: 50px;
}
.tvshowicon {
    font-size: 40px;
    color: #9E7F43;
}
.tvshowdes {
    font-size: 20px;
}
.tvimage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.tvfacts {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    justify-content: space-around;
}

.contentTvshow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}
nav i {
    color: #9E7F43;
    font-size: 30px; 
    display: none !important;
}
.main {
    margin-top: 60px;
    max-width: 1400px;
    margin: 0 auto;
}
h2 {
    font-family: var(--paragraph);
    color: #9E7F43;
    text-align: center;  
}
h3 {
    font-family: var(--paragraph);
    color: #9E7F43;
    text-align: center;
}
.background {
    width: 100%;
    height: 550px;
    background: rgb(56,38,79);
    background: linear-gradient(0deg, rgba(56,38,79,1) 0%, rgba(0,1,19,1) 100%);
    /* background: linear-gradient(0deg, rgb(233, 167, 26) 0%, rgb(255, 94, 0) 100%); */
    /* background-image: url("/img/2824105.png"); */
    background-size: cover;

}
.cards {
    width: 100%;
}
.cardpara {
    background-color: #b1c2ff;
    height: 250px;
    padding: 20px;
}
.aboutDescription  h3{
    text-align: left;
    font-size: 30px;
}


.about {
    display: flex;
    flex-direction: row;
    gap:60px;
}
.aboutimage {
    background-color: #9E7F43;
    padding: 20px 0px 0px 20px;
    height: 300px;
}
.backgroundPages {

    min-height: 100vh;
}
.contentPages {
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
    padding-bottom: 50px;
    background-color: white;
}
#container{
    height : inherit ;
    width : 100% ;
    
    overflow-y : hidden ;
    position: inherit;
    /* animation-name: move; */
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier();
    overflow-x: hidden;
    margin: auto;
    top: 0px;
  
}
.a_star{
transition-duration : .5s ;

}

@keyframes move {
    0% {top:0px;}
    50%{top:50px;}
    100%{top:0px}
    
}

@keyframes princemove {
    0%{transform: translateY(0px);}
    50%{transform: translateY(40px);}
    100%{transform: translateY(0px);}
}


/* #cursor{
    position : absolute ;
    height : 200px ;
    width : 200px ;
    border-radius : 50% ;
    -moz-backdrop-filter : brightness(500%) ;
    -webkit-backdrop-filter : brightness(500%) ;
    backdrop-filter : brightness(500%) ;
  } */


nav {
    
    background-color: white;
    height: 70px;

}
nav div {
    display: grid;
    grid-template-columns: auto 4fr;
    height: 70px;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;;
    width: 100%;
    align-items: center;
    gap: 50px;
}

ul li {
    color: #9E7F43;
    display: block;
    font-family: var(--paragraph);
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    align-items: center;
    height: fit-content;


    
}
ul li:hover {
    border-bottom: 7px solid #9E7F43;
    cursor: pointer;
    
}
p {
    font-family: var(--paragraph);
    color: #9E7F43;
}

.logo {
    font-family: 'Pacifico', cursive;
    background: #9E7F43;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: left;
  
    
}
.prince {
    position: absolute;
    right: 0px;
    bottom: -5px;
    animation: princemove;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;
     
}

.prince img {
    width: 700px;
}
.quote {
    margin-top: 130px;
}
.quote p {
    font-size: 45px;
    width: 600px;
    
}
.quote button {
    padding: 10px;
    font-family: var(--paragraph);
    color: white;
    background-color: #9E7F43;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.hero {
    position: relative;
}
.hero img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-top: 70px;
    
}
.artBanner {
    object-position: 0px -7px;
}
.hero h1 {
    position: absolute;
    top: 100px;
    left: 50px;
    font-family: var(--paragraph);

    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 70px;
    
}
.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1400px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
@keyframes carousel {
    0% {
        transform: translateX(0%);
    }
    17% {
        transform: translateX(0%);
    }
    34% {
        transform: translateX(-100%);
    }
    51% {
        transform: translateX(-100%);
    }
    67% {
        transform: translateX(-200%);
    }
    84% {
        transform: translateX(-200%);
    }
    120% {
        transform: translateX(0%);
    }
}
.cardcarousel {
    display: grid;
    grid-template-columns: 550px 740px;
    gap: 60px;
    width: 100%;
    padding: 30px;
    background-color: #5378ff;
    animation: carousel 20s infinite; 
}
.carouselimg img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cardcarouseldes h2 {
    text-align: left;
    font-size: 40px;
    color: white;
}
.cardcarouseldes p {
    color: white;
    font-size: 20px;
}
footer {
    color: white;
    font-family: var(--paragraph);
    text-align: center;
    margin-top: 50px;
    height: auto;
    background-color: rgb(56,38,79);


    

}
.logofooter {
    font-size: 50px;
    background-color: white !important;
}

.contact {
    text-align: left;
    font-size: 25px;
}
.footerContent {
    max-width: 1400px;
    align-items: baseline;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    padding: 40px;

}
#logofooter {
    align-self:baseline;
}
.socialMedia {
    align-self: baseline;
}
.socialMedia i  {
    font-size: 40px;
    padding-right: 10px;
    
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #f3000000;
}

*::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.404);
    border-radius: 10px;
}
.facts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.facts div {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
.facts p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.facts .factspicture {
    height: 200px;
    width: 100%;
    
}
.facts img {
    border-radius: 999px;
    width:200px;
    margin: 0 auto;
}
.facts i {
    font-size: 80px;
    color: #5378ff;

}

/* ------------------------------ Characthers ------------------------------ */
.characterContainer {
    display: flex;
    max-width: 1600px;
    height: 300px;
    flex-direction: row;
    gap: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.characterContainer div {
    width: fit-content;

}
.characterContainer div:hover {
    transform: scale(1.05);

}
.characterContainer div img {
    width: 245px;
}
.characterInfo {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    margin: 100px auto;
    width: 1000px;
    background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000");
    padding: 30px;
    border-radius: 20px;

}
.characterInfo h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    color: rgb(56,38,79);
    font-size: 40px;
}
.characterInfo img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 400px;
    height:600px;
    object-fit: cover;
}
.characterInfo p {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 500px;
    font-size: 25px;
}



/*------------------------ Quotes -------------------------------- */
.quotesContainer {
    margin: 0 auto;

    max-width: 800px;
    justify-content: center;
}
.quotesContainer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.quotesContainer div p {
    font-size: 30px;
}

.quotesContainer img {
    border-radius: 999px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/*---------------------------- Art ------------------------------ */


.container {

    margin: 5% auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;

  }
  
  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .text-center {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .lightbox-gallery {

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .lightbox-gallery div > img {
    max-width: 100%;
    display: block;
  }
  
  .lightbox-gallery div {
    margin: 10px;
    flex-basis: 180px;
  }
  

/* ---------------------Book--------------------------------*/
.book {
    display: flex;
    flex-direction: row;
    gap: 40px;

    max-width: 900px;
    margin: 0 auto;
    
}

.book button { 
    background-color: #9E7F43;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-size: 18px;

}
  
  /*Lighbox CSS*/
  
  .lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
  }
  
  .lightbox img {
    display: block;
    margin: auto;
  }
  
  .lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #eee;
  }
  
  .github-link {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .github-link:hover,
  .github-link:active,
  .github-link:visited {
    color: #fff;
    text-decoration: none;
  }

/*----------------------------- Trivia ------------------------------*/


#scoreDisplay {
    text-align: center;
    font-family: var(--paragraph);
    color: #9E7F43;
    font-size: 30px;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
   
    border-radius:5px;
  
    padding:15px;

    float:right;
    background-color: #9E7F43;
    color: white;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #9E7F43;
    color: #1f1f1f;
}


.button a {
    text-decoration: none;
    color: white;
    
}

#trivia {
    width:50%;
    min-height: 500px;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #ffffff;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

#trivia ul {
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}
#trivia ul li {
    padding: 0px;
}
#trivia h2 {
    text-align: left;
    margin: 20px 0px;
    font-size: 25px;
}
#trivia p {
    font-size: 25px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}

@media screen and (max-width:614px) {
    .sideSpace {
        padding-left: 20px;
        padding-right: 20px;
    }
   
    .prince img {
        width: 350px;
    }
    .logo {
        font-size: 25px;
    }
    .nav {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #menuBig {
        display: none;
        flex-direction: column;
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #menuSmall li{
        padding: 10px 0px;
    }
    .quote p {
        width: 100%;
        font-size: 25px;
        text-align: center;
        margin-top: 200px;
    }
    .quote button {
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }
    .title {
        font-size: 30px;
    }
    .para {
        font-size: 18px;
    }
    .carousel {
        width: 100%;
        height: 800px;
    }
    .carouselimg img{
        width: 100%;
        height: 150px;
    }
    .cardcarousel {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        width: 335px;
        max-height: 550px;
    }
    .cardcarouseldes h2 {
        font-size: 20px;
    }
    .cardcarouseldes p {
        font-size: 14px;
    }
    .footerContent  {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr;
        gap: 20px;
    }
    .logofooter {
        font-size: 40px;
    }
    .socialMedia {
        text-align: left;
        
    }
    .socialMedia i {
        padding-right: 10px;
    }
    .about {
        flex-direction: column;
    }
    .aboutimage {
        padding: 0px;
        height: auto;
    }
    .aboutimage img{
        width: 100%;
    }
    .quote {
       position: relative;
       top: -100px;
    }
    .contentTvshow {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .characterInfo {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        width: auto;

    }

    
    .characterInfo h2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .characterInfo img {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        height: 300px;

    }
    .characterInfo p {
        grid-column: 1/2;
        grid-row: 3/4;
        width: auto;
    }
    .quotesContainer img {
        border-radius: 999px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .quotesContainer div p {
        font-size: 15px;
    }
    .lightbox-gallery {
        flex-direction: column;
        align-items: center;
      }
    
      .lightbox > div {
        margin-bottom: 10px;
      }
    .columns {
        grid-template-columns: 1fr;
    }
    nav i {
        display: block !important;
        color: #9E7F43;
        font-size: 30px;
        text-align: right;
    }
    ul {
        width: 100%;
        text-align: end;
    }
    .book {
        flex-direction: column;
    }
    .hero h1 {
        font-size: 40px;
    }
    .hero img {
        height: 150px;
    }
    .characterContainer {
        height: 200px;
    }
    .characterContainer div img {
        width: 150px;
    }
    #trivia {
        width: 100%;
        height: 550px;
    }
}

