/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); */

* {
    margin: 0 auto;
    

}
h1 {
    color: black;
    font-family: var(--headerFont);
}
h3, p {
    font-family: var(--paragraphFont);
    color: rgb(51, 51, 51);
    padding: 5px;
}
.placeHolder {
    /* border: 1px solid rgb(70, 70, 70); */
    
    width:100%;
    min-height: 300px;
    font-family: var(--paragraphFont);
    box-sizing: border-box;
    padding: 20px;

}
.spotlightCont {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0px;
    
}
.spotlight {
    
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: var(--paragraphFont);
    padding: 0px;
 
  
}
.spotlight img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    padding: 0px;
}
.spotlight h1 {
    font-size: 24px;
    color: white;
    background-color: var(--blue);
    padding: 5px;
    text-align: center;
}
.spotlight p {
    background-color: var(--yellow);
    padding: 20px;
    
}
.spot1 {


}
.spot2 {
   
}
.spot3 {
    display: none;
    background-image: url("../images/market.webp");
    background-size: cover;
}
:root {
    --headerFont: "PT Sans", sans-serif;
    --paragraphFont: "PT Sans", sans-serif;
    --blue: #007C92;
    --red: #D62828;
    --yellow: #EAE2B7;
}

main {
    box-sizing: border-box;
    display: grid;
    padding: 20px;
    gap: 15px;
    max-width: 1600px;

}

.date {
    font-family: var(--paragraphFont);
    grid-column: 1/4;
    color: white;
    padding: 20px;
}

header {
    display: grid;
   
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--red);
   
    
    
}

.nav  {
    grid-column: 1/4;
    cursor: pointer;
    
    width: -webkit-fill-available;

   
   
    
    
  
}
.nav_content {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-items: right;
    width: 100%;
}
.nav a {

    padding: 15px;
    font-family: var(--paragraphFont);
    color: white;
  
   
   
    
    
}
.nav a:hover {
    background-color: var(--blue);
}
.logo {
   
    margin: 0;
    width: 50px;
    padding: 20px;
}
.social {
    color: white;
    font-size: 1.4rem;
}
.menu {
    justify-content: right;
    cursor: pointer;
    color: white;
    position: relative;
    margin: 0;
    justify-self: right;
    padding: 20px;

}
.hamburger {
    margin: 0;
}
.hamburger .menu {
    text-align: right;
    position: relative;
    float: right;
}
.event {
    background-image: url(../images/seattle_event.webp);
    background-size:cover;
}
.event h1 {
    color: white;
}
.event button {
    background-color: var(--red);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--red);
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
.hero {
    background-image: url("../images/hero.webp");
    background-size: cover;
    display: flex;
    align-items: center;
}
.hero h1 {
    font-size: 3rem;
    background-color: var(--blue);
    padding: 10px;
    color: white;
}
.hero button {
    margin: 0 auto;
    display: block;
    background-color: var(--red);
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
}
.news {
    display: flex;
    height: fit-content;
   
}
.news img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.news div {
    padding: 10px;
    border-left: 6px solid var(--blue);
    margin-left: 20px;
}
.news h1 {
    color: var(--blue);
}

footer {
    background-color: var(--red);
    text-align: center;
    box-sizing: border-box;
    
}

.siteinfo {
    font-family:  var(--paragraphFont);
    color: white;
    border-top: 1px solid white;
}


.join {
    display: none;
    padding: 0px;
    background-color: var(--yellow);

 
}
.join p {
    padding: 20px;
    padding-bottom: 10px;
}
.join img {
    height: 150px;
    width: 100%;
    object-fit: cover;

}
.join button {
    display: block;
    padding: 5px;
    width: 150px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
}

.weather {
    background-image: url(../images/weather.webp);
    background-size: cover;
}

footer a {
    color: white;
}
footer h3 {
    color: white;
}
footer p {
    color: white;
}


@media screen and (min-width:900px) {
 
    main {
        grid-template-columns: 60% 1fr;
        gap: 15px;
      
    }

    .hero {
        grid-column: 1/3;
        height: 200px;
    }

    .news {
        grid-column: 1/3;
        grid-row: 2/3;
        flex-direction: row;
    }
   
    .spot3 {
        display: none;
    }
    .spotlightCont {
        grid-column: 1/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        grid-template-rows: 1fr;
    }
    
    .join {
        display: block;
        grid-column: 1/3;
        grid-row: 4;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    .logoAdress {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
 


    .logoAdress .logo {
        width: 100px;
    }

    .siteinfo {
        grid-column: 1/3;
        width: -webkit-fill-available;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    .logoAdress {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
 


    .logoAdress .logo {
        width: 100px;
    }

    .siteinfo {
        margin: 0;
        grid-column: 1/3;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
    }
    .siteinfo p {
        margin: 0;
    }
}





@media  screen and (min-width:1100px) {
    main {
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;

    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .news {
        grid-column: 2/3;
        grid-row: 3/4;
        flex-direction: row;
    }

    .spotlightCont {
        grid-column: 3/4;
        grid-row: 1/4;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
    }
 
    .spot3 {
        display: block;
    }
    .hamburger {
        display: none;
        
    }

    .social {
        margin: 0;
        grid-column: 3/4;
        justify-self: right;
        padding-right: 20px;
    }
    .nav {
        display: block !important; 
        grid-column: 2/3;
        grid-row: 1/2;
        
        
    }
    
    .nav_content {
        flex-direction: row;
    }
    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    .logoAdress {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
 


    .logoAdress .logo {
        width: 100px;
    }

    .siteinfo {
        margin: 0;
        grid-column: 1/3;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
    }
    .siteinfo p {
        margin: 0;
    }

}