/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
:root {
    --headerFont: "PT Sans", sans-serif;
    --paragraphFont: "PT Sans", sans-serif;
    --blue: #007C92;
    --red: #D62828;
    --yellow: #EAE2B7;
}

* {
    margin: 0 auto;
    

}
h1 {
    color: black;
    font-family: var(--headerFont);
}
h3, p {
    font-family: var(--paragraphFont);
    color: rgb(51, 51, 51);
    padding: 5px;
}
.placeHolder {
    /* border: 1px solid rgb(70, 70, 70); */
    
    width:100%;
    min-height: 300px;
    font-family: var(--paragraphFont);
    box-sizing: border-box;
    padding: 20px;

}
.spotlightCont {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0px;
    
}
.spotlight {
    
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: var(--paragraphFont);
    padding: 0px;
 
  
}
.spotlight img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    padding: 0px;
}
.spotlight h1 {
    font-size: 24px;
    color: white;
    background-color: var(--blue);
    padding: 5px;
    text-align: center;
}
.spotlight p {
    background-color: var(--yellow);
    padding: 20px;
    
}

.spot3 {
    display: none;
    background-image: url("../images/market.webp");
    background-size: cover;
}

main {
    box-sizing: border-box;
    display: grid;
    padding: 20px;
    gap: 15px;
    max-width: 1600px;

}

.date {
    font-family: var(--paragraphFont);
    grid-column: 1/4;
    color: var(--blue);
    padding: 20px;
}

header {
    
    background-color: var(--blue);
    position: sticky;
    top: 0;
    z-index: 2;
    
    
}

.nav  {
    grid-column: 1/4;
    cursor: pointer;
    
    width: -webkit-fill-available;

   
   
    
    
  
}
.nav_container {
    max-width: 1600px;
    display: grid;
   
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.nav_content {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-items: right;
    width: 100%;
}
.nav a {

    padding: 15px;
    font-family: var(--paragraphFont);
    color: var(--yellow);
    text-decoration: none;
  
   
   
    
    
}
.nav a:hover {
    background-color: var(--blue);
    color: white;
}
.logo {
    /* filter: invert(84%) sepia(30%) saturate(230%) hue-rotate(13deg) brightness(102%) contrast(90%); */
    margin: 0;
    width: 50px;
    padding: 20px;
    color: var(--yellow);
    font-size: 40px;
    font-family: 'Yesteryear', cursive;
}
.social {
    color: var(--yellow);
    font-size: 1.4rem;
}
.menu {
    justify-content: right;
    cursor: pointer;
    color: var(--yellow);
    position: relative;
    margin: 0;
    justify-self: right;
    padding: 20px;

}
.hamburger {
    margin: 0;
}
.hamburger .menu {
    text-align: right;
    position: relative;
    float: right;
}
.event {
    background-image: url(../images/seattle_event.webp);
    background-size:cover;
}
.event h1 {
    color: white;
}
.event button {
    background-color: var(--red);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--red);
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
.hero {

    background-color: #D62828;
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
}
.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hero picture {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.hero_message {
    position: absolute;
    top: 20px;
    left: 20px;
}
.hero h1 {
    font-size: 3rem;
    background-color: var(--blue);
    padding: 10px;
    color: white;
}
.hero button {
    margin: 0 auto;
    display: block;
    background-color: var(--red);
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
}
.news {
    display: flex;
    height: fit-content;
    flex-direction: column;
   
}
.news img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.news div {
    padding: 10px;
    border-left: 6px solid var(--blue);
    
}
.news h1 {
    color: var(--blue);
}

footer {
    background-color: var(--blue);
    text-align: center;
    box-sizing: border-box;
    
}

.siteinfo {
    font-family:  var(--paragraphFont);
    color: var(--yellow);
    border-top: 1px solid white;
}


.join {
    display: none;
    padding: 0px;
    background-color: var(--yellow);

 
}
.join p {
    padding: 20px;
    padding-bottom: 10px;
}
.join img {
    height: 150px;
    width: 100%;
    object-fit: cover;

}
.join button {
    display: block;
    padding: 5px;
    width: 150px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
}

.weather {
    background-color: white;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.57);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
}
.weather h2 {
    text-align: center;
    grid-column: 1/3;
    font-size: 40px;
}
.imgweather {
    display: block;
    
}
.temp {
    font-size: 40px;
    font-weight: bold;
}
.desc {
    grid-column: 1/3;
    font-size: 30px;
    font-weight: bold;
}

footer a {
    color: var(--yellow);
}
footer h3 {
    color: var(--yellow);
}
footer p {
    color: var(--yellow);
}


/*Discover Page*/

.discover_title {
    text-align: center;
}
.galery_container {
    display: flex;
    flex-direction: column;
    

}
.discover_image_container {
    width: 100%;
    height: fit-content;
    background-image: url("https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=");
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #CCCCCC;
   
}

.loader {
    width: 100%;
    height: fit-content;

    display: block;
    border-radius: 10px;
    background: linear-gradient(        
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 0, 0, 0) 80%
    );
    background-repeat: repeat-y;        
    background-size: 50px 200px;        
    background-position: 0 0;
    animation: shine 1.5s infinite;
}
.main_discover {
    max-width: 1600px;

}
.column {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.galery_container {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

}

.discover_image_description {
    position: relative;
    bottom: 0px;
    background-color: black;
    opacity: 1;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    
   
}
.discover_image_description p {
    color: white;
    padding: 20px;
}
@keyframes shine {
    from {
        background-position: -10%;
    }
    to {
        background-position: 120% 0%, 50% 0%;
    }
}

@media screen and (min-width:900px) {
 
    main {
        grid-template-columns: 60% 1fr;
        gap: 15px;
      
    }

    .hero {
        grid-column: 1/3;
        
    }

    .news {
        grid-column: 1/3;
        grid-row: 2/3;
        flex-direction: row;
    }
   
    .spot3 {
        display: none;
    }
    .spotlightCont {
        grid-column: 1/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        grid-template-rows: 1fr;
    }
    
    .join {
        display: flex;
        grid-column: 1/3;
        grid-row: 4;
        align-items: center;
    }
    .join img {
        height: 100%;
        width: 50%;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    .logoAdress {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
 


    .logoAdress .logo {
        width: 100px;
    }

    .siteinfo {
        grid-column: 1/3;
        width: -webkit-fill-available;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    .logoAdress {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
 


    .logoAdress .logo {
        width: 100px;
    }

    .siteinfo {
        margin: 0;
        grid-column: 1/3;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
    }
    .siteinfo p {
        margin: 0;
    }
    .discover_image_container:hover {
        transform: scale(1.1);
        transition: transform 330ms ease-in-out;
        z-index: 1;
    }
    .discover_image_container:not(hover) {
        transform: scale(1);
        transition: transform 330ms ease-in-out;
        
    }
}





@media  screen and (min-width:1100px) {
    main {
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;

    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join {
        grid-column: 1/2;
        grid-row: 3/4;
        flex-direction: column;
        
    }
    .join img {
        height: 150px;
        width: 100%;
    }
    .news {
        grid-column: 2/3;
        grid-row: 3/4;
        flex-direction: row;
    }

    .spotlightCont {
        grid-column: 3/4;
        grid-row: 1/4;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
    }
 
    .spot3 {
        display: block;
    }
    .hamburger {
        display: none;
        
    }

    .social {
        margin: 0;
        grid-column: 3/4;
        justify-self: right;
        padding-right: 20px;
    }
    .nav {
        display: block !important; 
        grid-column: 2/3;
        grid-row: 1/2;
        
        
    }
    
    .nav_content {
        flex-direction: row;
    }
    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
    .logoAdress {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
 


    .logoAdress .logo {
        width: 100px;
    }

    .siteinfo {
        margin: 0;
        grid-column: 1/3;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
    }
    .siteinfo p {
        margin: 0;
    }
    .discover_image_container:hover {
        transform: scale(1.1);
        transition: transform 330ms ease-in-out;
        z-index: 1;
    }
    .discover_image_container:not(hover) {
        transform: scale(1);
        transition: transform 330ms ease-in-out;
        
    }
    

    .galery_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .column {
        width: 32.3%;
      
    }
    .discover_image_description {
        display: none;
    }
    .discover_image_description p {
        color: white;
        padding: 20px;
    }
    .discover_image_container:hover .discover_image_description {
        display: block;
        position: absolute;
        bottom: 0px;
        background-color: black;
        opacity: 1;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }

}