* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    max-width: 1500px ;
}
h1 {
    margin: 40px 0px 80px 0px;
    text-align: center;
}
h2 {
    text-align: center;
}
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
section {
    padding:10px;
    background-color: bisque;
    border-radius: 20px;
}
section:hover {
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
    z-index: 1;
}
section:not(:hover) {
    transform: scale(1);
    transition: transform 330ms ease-in-out;
}
section img {
    max-width: 330px;
    height: 440px;
    object-fit: cover;
}
p {
    text-align: center;
    margin: 10px;
}